@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap');
.positionNavbar{
    position: relative;
    top:0;
    left:0;
    height:100vh;
}

.directionNavbar{
display:flex;
    flex-direction: column;
    padding:15px;
    background: #ededed;
    width:250px;
    height:100vh;
}
.navbar-item {
  margin: 15px;
  text-decoration: none;
  color: black;
 font-family: 'Josefin Sans', sans-serif;
font-size: 20px;

}
.navbar-item:hover{
    color:grey
}
.smallLink{
    text-decoration: none;
    margin: 15px;
  text-decoration: none;
  color:black;
;
 font-family: 'Josefin Sans', sans-serif;
 font-size:11px;
}
.fontJos{
    font-family: 'Josefin Sans', sans-serif;
     color:black;
}

/*DropDown */
/*Dropdown menu*/
.menu-container {
  position: relative;
  display: inline-block;
}
.menu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  left: 0px;
  width: 130px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid #dddddd;
   font-family: 'Josefin Sans', sans-serif;
 
}
.menu li a:hover{
    color:grey
}
.menu li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
}